header {
    margin: 0 0 1vh 0;
}

nav {
    height: inherit;
}

ul {
    margin-top: 3vh;
    display: inline-block;
    list-style-type: none;
    padding-left: 1vh;
}

li {
    float: left;
    margin-right: 5vh;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.link:hover {
    text-decoration: underline;
}

.middle_align {
    margin-top: 2%; /* This value needs to change if font-size in .link changes */
}