header {
    background-color: orange;
    height: 10vh;
}

ul {
    display: block;
    margin: 0;
    padding: 4vh 0 0 1vh;
    list-style-type: none;
}

li {
    display: inline;
    margin: 0 30px 0 0;
}