
@font-face {
    font-family: 'RalewayRegular';
    src: local('RalewayRegular'), url(../../fonts/Raleway/RalewayRegular.ttf) format('truetype');
}
  

ul {
    font-family: RalewayRegular;
    margin-top: 5px; /* to align with CODE STEEZ logo */
    display: flex;
    list-style-type: none;
}

 li {
    padding-left: 15px;
    font-size: 1.2em;
}

li a {
    text-decoration: none;
}

li :hover {
    text-decoration: underline;
}

/* Mobile only css below */
.hamburger {
    margin-top: 6px;
    height: 23px;
    display: none;
}

.mobile {
    display: none;
}

@media screen and (max-width: 992px) {
    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .hamburger {
        display: flex;
        cursor: pointer;
        fill: white;
    }
}