@font-face {
    font-family: 'PlayfairDisplay';
    src: local('PlayfairDisplay'), url(../../fonts/Playfair_Display/PlayfairDisplay.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'RalewayRegular';
    src: local('RalewayRegular'), url(../../fonts/Raleway/RalewayRegular.ttf) format('truetype');
  }

.post_container {
    margin-bottom: 3vh;
}

.title {
    font-family: PlayfairDisplay;
    font-size: 2em;
    margin-bottom: 5px;
}

.summary {
    font-family: RalewayRegular;
    color: black;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.published {
    font-family: RalewayRegular;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.tag {
    font-family: RalewayRegular;
    margin-right: 9px;
    color: white; 
    background-color: #fab574; /* Matches color of all text on white */
    font-size: 0.8em;
    padding: 4px;
    -webkit-border-radius: 18px;
    -moz-border-webkit: 18px;
    border-radius: 18px;
}

.tags {
    font-family: RalewayRegular;
    font-size: 0.9em;
    display: inline;
}