@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplay'), url(../../fonts/Playfair_Display/PlayfairDisplay.ttf) format('truetype');
}

@font-face {
  font-family: 'RalewayRegular';
  src: local('RalewayRegular'), url(../../fonts/Raleway/RalewayRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'MesloRegular';
  src: local('MesloRegular'), url(../../fonts/MesloLGS/MesloRegular.ttf) format('truetype');
}

.container {
  /* Fonts and spacing for headers */
  h1, h2, h3, h4 {
    font-family: PlayfairDisplay;
  }

  h1, h2 {
    color: orange;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  /* Font and spacing for bodies of text */
  p, span {
    font-size: 1em;
    font-family: RalewayRegular;
    margin-bottom: 20px;
    line-height: 1.6;
  }

  /* Styling for code blocks */
  pre {
    font-family: MesloRegular;
    font-size: 0.85em;
    line-height: 1.4;
    color: #666;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #007bff;
    page-break-inside: avoid;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    margin-bottom: 20px;
  }

  /* Just to be safe dont let images overflow container*/
  img {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .published {
    margin-bottom: 5px;
  }
}

/* Bootstrap containers */
/* https://github.com/twbs/bootstrap/blob/master/dist/css/bootstrap.css */ 
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5vh;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}