@font-face {
    font-family: 'PlayfairDisplay';
    src: local('PlayfairDisplay'), url(../../fonts/Playfair_Display/PlayfairDisplay.ttf) format('truetype');
}
  
@font-face {
  font-family: 'RalewayRegular';
  src: local('RalewayRegular'), url(../../fonts/Raleway/RalewayRegular.ttf) format('truetype');
}

.post {
  
  padding-bottom: 35px;
  border-bottom: 1px solid black;
  margin-bottom: 45px;

  .title {
    font-family: PlayfairDisplay;
    font-size: 2em;
  }

  .summary, .published, .tag, .tags {
    font-family: RalewayRegular;
    font-size: 1em;
    line-height: 1.6;
  }

  .tags {
    display: inline;
  }

  .tag {
    margin-right: 5px;
  }

}

/* Bootstrap containers */
/* https://github.com/twbs/bootstrap/blob/master/dist/css/bootstrap.css */ 
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5vh;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }