/* Define global variables here */
$primary-color: red;
$secondary-color: orange;
$third-color: white;

/* Define global styling here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Underlines currently active NavLink */
.active {
  text-decoration: underline;
}

/* easily hide elements by changing className */
[hidden] {
  display: none;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

/* Creates a sticky footer, subtract the total size of the footer */
.content {
  min-height: calc(100vh - 18px); 
}

/* start color themes */
header, footer {
  background-color: $secondary-color;
}

header a {
  color: $third-color;
}

footer {
  color: $third-color;
}

footer a {
  color: $third-color;
}
/* end color themes */

/* start mobile navigation menu */
.collapsed {
  display: none;
}

.expanded {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.expanded li {
  padding-bottom: 3px;
}
/* end mobile navigation menu */