/* Define global variables here */
$primary-color: red;
$secondary-color: orange;
$third-color: white;

/* Define global styling here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none;
}

.content {
  min-height: calc(100vh - 18px); /* Creates a sticky footer, subtract the total size of the footer */
}

header, footer {
  background-color: $secondary-color;
}

header a {
  color: $third-color;
}

footer {
  color: $third-color;
}

footer a {
  color: $primary-color;
}

.collapsed {
  display: none;
}

.expanded {
  display: flex;
}